In [1]:
import json
with open("../credentials.json", "r") as f:
    CREDENTIALS = json.load(f)

In [2]:
from datetime import datetime as dt
START = round(dt.today().replace(month=1, day=1).timestamp() * 1000)    # 1st January of the current year
END = round(dt.today().timestamp() * 1000)                              # Today (current date)

In [5]:
import xapi
x = await xapi.connect(**CREDENTIALS)
result = await x.socket.getChartLastRequest("EURUSD", START, xapi.PeriodCode.PERIOD_D1)
if result["status"] == True:
    rateInfos = result["returnData"]['rateInfos']

In [6]:
import pandas as pd
df = pd.DataFrame(rateInfos)
df['open'] /= 1000
for column in ['close', 'high', 'low']:
    df[column] = df['open'] + df[column] / 1000

In [7]:
df

,ctm,ctmString,open,close,high,low,vol
0,1704150000000,"Jan 2, 2024, 12:00:00 AM",110.443,109.406,110.443,109.380,607082.0
1,1704236400000,"Jan 3, 2024, 12:00:00 AM",109.411,109.209,109.650,108.926,630593.0
2,1704322800000,"Jan 4, 2024, 12:00:00 AM",109.209,109.467,109.717,109.158,564061.0
3,1704409200000,"Jan 5, 2024, 12:00:00 AM",109.470,109.387,109.979,108.763,749938.0
4,1704582000000,"Jan 7, 2024, 12:00:00 AM",109.345,109.440,109.447,109.335,0.0
...,...,...,...,...,...,...,...
208,1725141600000,"Sep 1, 2024, 12:00:00 AM",110.407,110.478,110.494,110.402,0.0
209,1725228000000,"Sep 2, 2024, 12:00:00 AM",110.477,110.699,110.771,110.416,220155.0
210,1725314400000,"Sep 3, 2024, 12:00:00 AM",110.699,110.447,110.724,110.260,484804.0
211,1725400800000,"Sep 4, 2024, 12:00:00 AM",110.450,110.824,110.949,110.389,472459.0
212,1725487200000,"Sep 5, 2024, 12:00:00 AM",110.833,110.806,111.194,110.744,362370.0