In [1]:
import json
with open("../credentials.json", "r") as f:
    CREDENTIALS = json.load(f)

In [2]:
from datetime import datetime as dt
START = round(dt.today().replace(month=1, day=1).timestamp() * 1000)    # 1st January of the current year
END = round(dt.today().timestamp() * 1000)                              # Today (current date)

In [3]:
import xapi
x = await xapi.connect(**CREDENTIALS)
result = await x.socket.getChartRangeRequest("PKN.PL_9", START, END, xapi.PeriodCode.PERIOD_D1, 0)
if result["status"] == True:
    rateInfos = result["returnData"]['rateInfos']

In [4]:
import pandas as pd
df = pd.DataFrame(rateInfos)
df['open'] /= 1000
for column in ['close', 'high', 'low']:
    df[column] = df['open'] + df[column] / 1000

In [5]:
df

,ctm,ctmString,open,close,high,low,vol
0,1704236400000,"Jan 3, 2024, 12:00:00 AM",65.47,64.75,65.47,63.63,42752.0
1,1704322800000,"Jan 4, 2024, 12:00:00 AM",64.67,64.50,65.45,64.35,42147.0
2,1704409200000,"Jan 5, 2024, 12:00:00 AM",64.00,64.22,64.64,63.46,37124.0
3,1704668400000,"Jan 8, 2024, 12:00:00 AM",64.03,63.11,64.12,62.50,45215.0
4,1704754800000,"Jan 9, 2024, 12:00:00 AM",63.84,63.31,63.86,63.12,32141.0
...,...,...,...,...,...,...,...
189,1727820000000,"Oct 2, 2024, 12:00:00 AM",57.00,58.53,58.88,56.89,53489.0
190,1727906400000,"Oct 3, 2024, 12:00:00 AM",58.49,57.65,58.50,57.25,30144.0
191,1727992800000,"Oct 4, 2024, 12:00:00 AM",57.96,57.65,58.49,57.65,22779.0
192,1728252000000,"Oct 7, 2024, 12:00:00 AM",57.59,56.03,57.85,55.58,40737.0
193,1728338400000,"Oct 8, 2024, 12:00:00 AM",56.00,55.29,56.14,55.01,42663.0